# Build Folders
**/bin/
**/obj/

# Visual Studio / Rider / IDE Files
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/

# Build Output
*.dll
*.exe
*.pdb
*.cache
*.json
*.editorconfig

# NuGet Packages
*.nupkg
packages/

# Ignore database
database.db
